<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="time">
     <%#
    <%= form.date_select :start_time, {default: :start_time}%>
    <%= @post.start_time %>
    <%= form.hidden_field :start_time, {default: :start_time}%>
    <span class="arrow">〉</span>
    <%#
    <%= form.date_select :start_time, {default: :start_time}%>
  </div>

  <div class="field">
    晩ごはんいる？
    <%= form.select :content,[["◯","◯"], ["❌","❌"], ["🔺","🔺"], ["未定","未定"]], {default: "未定"}, class: "select" %>
  </div>

  <div class="field">
    追記
    <%= form.select :comment,[["バイト","バイト"], ["遊び","遊び"], ["勉強","勉強"], ["その他","その他"], ["特になし",""]], {default: "遊び"}, class: "select" %>
  </div>

  <div class="actions">
    <%= form.submit%>
  </div>
<% end %>
