<p id="notice"><%= notice %></p>

<h1>Calender</h1>

</table>

<br>

<%= link_to 'New Post', new_post_path %>

<%= month_calendar events: @posts do |date, posts| %>
  <%= date  %>
  
  <% posts.each do |post| %>
    <div>
      <%= link_to post.content, edit_post_path(post,start_time: date)  %>
    </div>
  <% end %>
<% end %>
