<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      <!--
      a:link {  text-decoration:none }
      a:visited {  text-decoration:none }
      a:hover {  text-decoration:none }
      a:active {  text-decoration:none }
      -->
    </style>
    <title>DinnerCalender</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
